# Database
# DATABASE_URL="postgresql://username:password@localhost:5432/it_inventory?schema=public"

DATABASE_URL="postgresql://neondb_owner:npg_necbDPa60HqC@ep-autumn-bread-apif77tn.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="your-super-secret-key-here-change-this-in-production"
NEXTAUTH_URL="http://localhost:3000"

# For production on Vercel, set NEXTAUTH_URL to your domain:
# NEXTAUTH_URL="https://your-app.vercel.app"
